<form #createEmployeeForm="ngForm" (ngSubmit)="onSubmit(createEmployeeForm)" novalidate>
    <div class="form-group row pt-5">
        <div class="col-6 ">
            <div class="mb-3">
                <label for="FirstName" class="form-label">First Name<sup class="star">*</sup></label>
                <input type="text" placeholder="Enter the First Name" class="form-control" id="FirstName"
                    name="firstName" ngModel #firstName="ngModel" required minlength="4" maxlength="20"
                    autocomplete="off" pattern="^[ a-zA-Z]+$">
                <div *ngIf="firstName.touched  && !firstName.valid" class="alert">
                    <span *ngIf="firstName.errors?.['minlength']">Name must be atleast 4 characters long.</span>
                    <span *ngIf="firstName.errors?.['required']">First Name is required</span>
                    <div *ngIf="firstName.errors?.['pattern']">Only Alphabets are allowed</div>

                </div>
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name<sup class="star">*</sup></label>
                <input type="text" placeholder="Enter the Last Name" class="form-control" id="LastName" name="lastName"
                    ngModel #lastName="ngModel" required minlength="3" maxlength="20" autocomplete="off"
                    pattern="^[ a-zA-Z]+$">
                <div *ngIf="lastName.touched  && !lastName.valid" class="alert">
                    <div *ngIf="lastName.errors?.['minlength']">Name must be atleast 3 characters long.</div>
                    <div *ngIf="lastName.errors?.['required']">Last Name is required</div>
                    <div *ngIf="lastName.errors?.['pattern']">Only Alphabets are allowed</div>

                </div>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email<sup class="star">*</sup></label>
                <input type="text" placeholder="Enter Email" class="form-control" id="Email" name="email" ngModel
                    #email="ngModel" required autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    (keyup)="onKey($event)">
                <div *ngIf="email.touched && !email.valid" class="alert">
                    <div *ngIf="email.errors?.['pattern']">Enter valid Email</div>
                    <div *ngIf="email.errors?.['required']">E-mail ID is required</div>
                    <div *ngIf="error==true">E-mail ID already Exists, Please try another one</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">Phone Number<sup class="star">*</sup></label>
                <input type="tel" placeholder="Enter Phone Number" class="form-control" id="PhoneNumber" minlength="10"
                    maxlength="10" name="phoneNumber" ngModel #phoneNumber="ngModel" required
                    pattern="[6-9]{1}[0-9]{9}">
                <div *ngIf="phoneNumber.touched && !phoneNumber.valid" class="alert">
                    <div *ngIf="phoneNumber.errors?.['required']">Please Provide Phone Number</div>
                    <div *ngIf="phoneNumber.errors?.['pattern']">Invalid Phone Number</div>
                    <div *ngIf="phoneNumber.errors?.['minlength']">Provide 10 digit Phone Number</div>
                </div>

            </div>
            <div class="mb-3">
                <label for="HireDate" class="form-label">Hire Date<sup class="star">*</sup></label>
                <input type="date" class="form-control" id="HireDate" name="hireDate" ngModel #hireDate="ngModel"
                    required max="{{presentDate}}">
                <span *ngIf="hireDate.touched && !hireDate.invalid">Select the Date</span>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Salary" class="form-label">Salary</label>
                <input type="number" placeholder="Salary" class="form-control" id="Salary" name="salary" ngModel
                    #salary="ngModel" required min="1000" max="100000">
                <div *ngIf="salary.touched && !salary.valid" class="alert">
                    <div *ngIf="salary.errors?.['required']">Enter Salary</div>
                    <div *ngIf="salary.errors?.['min']">Minimum Salary is Rs.1,000/-</div>
                    <div *ngIf="salary.errors?.['max']">Maximum Salary is Rs.1,00,000/-</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="JobId" class="form-label">Job Name</label>
                <select class="form-select" name="jobId" ngModel #jobId="ngModel"
                    required>
                    <option *ngFor="let job of jobs;" value="{{job.jobTitle}}">{{job.jobTitle}}</option>
                </select>
                <span *ngIf="jobId.touched && !jobId.valid">Select the Job Name</span>
            </div>
            <div class="mb-3">
                <label for="ManagerId" class="form-label">Manager Name</label>
                <select class="form-select " name="managerId" ngModel #managerId="ngModel" required>
                    <option value="100">100</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="108">108</option>
                    <option value="114">114</option>
                    <option value="120">120</option>
                    <option value="121">121</option>
                    <option value="122">122</option>
                    <option value="123">123</option>
                    <option value="124">124</option>
                    <option value="145">145</option>
                    <option value="146">146</option>
                    <option val ue="147">147</option>
                    <option value="148">148</option>
                </select>
                <span *ngIf="managerId.touched && !managerId.valid">Select the Manager Name</span>
            </div>
            <div class="mb-3">
                <label for="DepartmentId" class="form-label">Department Name</label>

                <select class="form-select " name="departmentId" ngModel #departmentId="ngModel" required>
                    <option *ngFor="let department of departments;" value="{{department.departmentId}}">
                        {{department.departmentName}}</option>
                </select>
                <span *ngIf="departmentId.touched && !departmentId.valid">Select the Department Name</span>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-link" (click)="resetForm;" >Reset</button> -->
    <button class="btn btn-primary" [disabled]="!createEmployeeForm.valid">Submit</button>