/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body{
    position: relative;
}
.nav-tabs{
    border-bottom-width:0px !important;
    border-bottom :0px !important;
}